<button id="notificationSystemButton" style="height:40px; width:50px;">0</button>
<div id="notificationSystemBox"></div>
<script type="text/javascript">
    $(document).ready(function () {
        updateBox("1");

        $("#notificationSystemBox").hide();
        $("#notificationSystemButton").button({
            icons: { primary: "ui-icon-flag" },
            text: true
        });
        $("#notificationSystemButton").click(function () {
            if ($("#notificationSystemBox").is(":visible")) {
                $("#notificationSystemBox").toggle("fold", 500);
            }
            else {
                updateBox("2");
            }
        });
    });

    function updateBox(flag) {
        $.post("@Url.Action("GetNotifications", "Profile")",
        {state: "0"},
        function (data) {
            $("#notificationSystemBox").html("");
            if (data != null) {
                $("#notificationSystemBox").append("<table>");
                var i;
                for (i = 0; i < data.length; i++) {
                    $("#notificationSystemBox").children().append("<tr><td><img src='" + data[i].objectAssigned.user1.picture
                        + "' alt='Picture' height='30'></td><td>" + data[i].objectAssigned.user1.username
                        + "</td><td><a href='#' id='" + data[i].id + "' onClick='actionToFriend(this.id,1,this);'>Accept</a></td><td><a href='#' id='" + data[i].id + "' onClick='actionToFriend(this.id,-1,this);'>Deny</a></td></tr>");
                }
                $("#notificationSystemBox").append("</table>");
                $("#notificationSystemButton").button('option', 'label', data.length);
                if (flag == "2") {
                    $("#notificationSystemBox").toggle("fold", 500);
                }
            }
        });
    }

    function acceptFriend(value) {
        alert(value);
    }
    function actionToFriend(notificationId, action, obj) {
        $.post("@Url.Action("ActionToFriend", "Profile")",
            {notificationId: notificationId, action: action},
            function (data) {
                if (data) {
                    $(obj).parent().parent().remove();
                }
            });
    }
</script>