@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <section class="featured">
        <div class="content-wrapper">
            <table align="center">
                <tr>
                    <td align="right">@ViewBag.UserName</td>
                    <td rowspan="3"><img src="http://www.bubble-jobs.co.uk/blog/wp-content/uploads/2012/12/profile.jpg" alt="Picture" height="180"> </td>
                    <td>HAPPY FACE</td>
                </tr>
                <tr>
                    <td align="right">TotalScore</td>
                    <td>3 most popular Tags</td>
                </tr>
                <tr>
                    <td align="right">TotalStrength</td>
                    <td>User Type</td>
                </tr>
            </table>
        </div>
    </section>
    </br>
    <div>
        <table align="center">
            <tr>
                <td colspan="3" align="center"><h1>Friends</h1></td>
            </tr>
            <tr>
                <th>Name</th>
                <th>Score</th>
                <th>Mood</th>
            </tr>
            <tr>
                <td>FilipeCouto</td>
                <td>4234</td>
                <td>: )</td>
            </tr>
            <tr>
                <td>RitaNogueira</td>
                <td>657</td>
                <td>-.-</td>
            </tr>
            <tr>
                <td>GilCastro</td>
                <td>3453</td>
                <td>: =)</td>
            </tr>
        </table>
    </div>
</body>
</html>
